PPLM_O.zip
__pycache__
gpt2
sentiment
gpt2_1.pt
resonance*
*.out
NRC-Emotion-Lexicon-v0.92-In105Languages-Nov2017Translations.xlsx
data/sentiment140-train.cs_tmp
data/acepciones_palabras.csv
data/sentiment140-train.csv
debug.py
logs
tmp.csv
data/data.faceta.extraversion.csv
experimental_setup*
data.csv
data.csv
data*
datos de unpublished books.xltx
datos de generated essays.xltx
example.csv
diso.csv
extract_dis.py
gutemberg.csv
.gitignore
metadata_enriched.csv
metadata.csv
keys_female.csv
keys_male.csv
